{% extends 'cipher/base.html' %}

{% block content %}

<script>    
    function check(x) {//function for hiding options until they are needed
        if (x.selectedIndex==0) {
            document.getElementById("submitButton").style.display = 'none';
        } else {
            document.getElementById("submitButton").style.display = 'block';
        
        }
        if (x.selectedIndex==1) { //shift 
            document.getElementById("shift-select").style.display = 'block';
        } else {
            document.getElementById("shift-select").style.display = 'none';
        }
        if (x.selectedIndex==2) { //rmap 
            document.getElementById("rmap-select").style.display = 'block';
        } else {
            document.getElementById("rmap-select").style.display = 'none';
        }
        if (x.selectedIndex==3) { //mapselect 
            document.getElementById("mapselect").style.display = 'block';
        } else {
            document.getElementById("mapselect").style.display = 'none';
        }
        if (x.selectedIndex==4 || x.selectedIndex==5) { //keyword 
            document.getElementById("keyword").style.display = 'block';
        } else {
            document.getElementById("keyword").style.display = 'none';
        }
    }

    function drawgrid(ngrids, nletters) {//function for drawing n grids of n letters

    }
</script>

<div class="d-flex justify-content-center text-center">
    <form action="{% url 'result' %}">
        <h1><label>Plaintext:</label></h1>
        <input type="text" id="plaintext" name="plaintext"><br>

        <h4><label for="type">Select a cipher:</label></h2>

        <select name="type" onChange="check(this);">
           <option selected disabled>Select a cipher type</option>    
           <option value="shift">Shift by n</option>
           <option value="rmap">Random map</option>
           <option value="smap">User-specified map</option>
           <option value="keyword">Keyword cipher</option>
           <option value="vigenere">Vigenere cipher</option>
        </select><br>

        <div id="shift-select" style="display:none;">
            <h4><label>Shift by how many?</label></h4>
        <input type="number" id="shiftby" name="shiftby">
        </div>

        <div id="rmap-select" style="display:none;">
            <h4><label>Enter a random seed:</label></h4>
        <input type="text" id="rseed" name="rseed">
        </div>

        <div id="mapselect" style="display:none;">
            <h4><label>Enter a map</label></h4>
        <input type="text" id="maptext" name="maptext" size="40"><br>
        <input type="text" id="alphabet" value="ABCDEFGHIJKLMNOPQRSTUVWXYZ" name="alphabet" disabled size="40">

        <!--<div class = "grid-container"></div>-->

        </div>

        <div id="keyword" style="display:none;">
            <h4><label>What is your keyword?</label></h4>
        <input type="text" id="keywordin" name="keywordin">
        </div><br>


        <input type="submit" id="submitButton" value="Cipherify" style="display:none" class="btn btn-primary btn-sm">
    </form>
</div>
   
</div>

{% endblock %}